## DS Jobs

In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import re

In [2]:
df = pd.read_csv('DS Jobs.csv')
print(df.shape)
df.head()

(672, 15)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
df.drop(columns=['index'], inplace=True)

In [4]:
df.columns = df.columns.str.lower()

In [5]:
df.head()

,job title,salary estimate,job description,rating,company name,location,headquarters,size,founded,type of ownership,industry,sector,revenue,competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [6]:
df.columns

Index(['job title', 'salary estimate', 'job description', 'rating',
       'company name', 'location', 'headquarters', 'size', 'founded',
       'type of ownership', 'industry', 'sector', 'revenue', 'competitors'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job title          672 non-null    object
 1   salary estimate    672 non-null    object
 2   job description    672 non-null    object
 3   rating             672 non-null    float64
 4   company name       672 non-null    object
 5   location           672 non-null    object
 6   headquarters       672 non-null    object
 7   size               672 non-null    object
 8   founded            672 non-null    int64
 9   type of ownership  672 non-null    object
 10  industry           672 non-null    object
 11  sector             672 non-null    object
 12  revenue            672 non-null    object
 13  competitors        672 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 73.6+ KB

In [8]:
df.isnull().sum()

job title            0
salary estimate      0
job description      0
rating               0
company name         0
location             0
headquarters         0
size                 0
founded              0
type of ownership    0
industry             0
sector               0
revenue              0
competitors          0
dtype: int64

In [9]:
df['job title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [10]:
df['job title'].str.lower().str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip()

0      sr data scientist
1         data scientist
2         data scientist
3         data scientist
4         data scientist
             ...
667       data scientist
668       data scientist
669       data scientist
670       data scientist
671       data scientist
Name: job title, Length: 672, dtype: object

In [11]:
short_job_title_dict = {
    'data scientist': ['data scientist'],
    'machine learning engineer': ['machine learning'],
    'data engineer': ['data engineer', 'enterprise analytics', 'data integration and modeling engineer'],
    'data analyst': [ 'data analyst', 'data analytics engineer'],
    'business intelligence analyst': [ 'business intelligence analyst', 'analytics - business assurance data analyst' ],
    'research scientist': ['research','scientist'],
    'software engineer': ['software engineer'],
    'data architect': ['data architect',  'data solutions engineer - data modeler'],
    'computer scientist': ['computer scientist'],
    'analytics manager': ['manager', 'data science manager', 'manager / lead, data science & analytics'],
    'director': ['director', 'vp, data science', 'chief data scientist']
}

def map_to_short_job_title(job_title, short_job_title_dict):
    job_title = job_title.lower()
    for short_title, keywords in short_job_title_dict.items():
        if any(keyword.lower() in job_title for keyword in keywords):
            return short_title
    return 'other'

df['short_job_title'] = df['job title'].apply(lambda title: map_to_short_job_title(title, short_job_title_dict))

In [12]:
df[['job title', 'short_job_title']]

             job title short_job_title
0    Sr Data Scientist  data scientist
1       Data Scientist  data scientist
2       Data Scientist  data scientist
3       Data Scientist  data scientist
4       Data Scientist  data scientist
..                 ...             ...
667     Data Scientist  data scientist
668     Data Scientist  data scientist
669     Data Scientist  data scientist
670     Data Scientist  data scientist
671     Data Scientist  data scientist

[672 rows x 2 columns]

In [13]:
experience_level_dict = {
    'junior': ['junior', 'jr', 'entry level', 'associate'],
    'mid': ['mid', 'intermediate', 'ii'],
    'senior': ['senior', 'sr', 'lead', 'principal', 'head'],
    'director': ['director', 'vp', 'chief']
}


def map_to_experience_level(job_title, experience_level_dict):
    job_title = job_title.lower()
    for level, keywords in experience_level_dict.items():
        if any(keyword in job_title for keyword in keywords):
            return level
    return 'unspecified'


df['experience_level'] = df['job title'].apply(lambda title: map_to_experience_level(title, experience_level_dict))

In [14]:
df['experience_level'].value_counts()

# there are lots of unspecified experience rows, further we could fill those from job description maybe.

unspecified    562
senior          89
junior          10
mid              7
director         4
Name: experience_level, dtype: int64

In [15]:
df['salary estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

In [16]:
df[['min_salary', 'max_salary']]= df['salary estimate'].str.extract(r'\$(\d+)K-\$(\d+)K').astype(int)

In [17]:
df['average_salary'] = df.apply(lambda x: (x['min_salary'] + x['max_salary'])/2, axis=1)

In [18]:
df['company name'] = df['company name'].str.split('\n').str[0]

In [19]:
df[['loc city', 'loc state']] = df['location'].str.extract(r'^(.*?),\s*([A-Z]{2})$').fillna({
    'loc city': df['location'], 
    'State': 'AA'
})

In [20]:
df['size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [21]:
df['size'].value_counts()

51 to 200 employees        135
1001 to 5000 employees     104
1 to 50 employees           86
201 to 500 employees        85
10000+ employees            80
501 to 1000 employees       77
5001 to 10000 employees     61
-1                          27
Unknown                     17
Name: size, dtype: int64

In [22]:
size_to_segment = {
    'Small': ['1 to 50 employees'],
    'Middle': ['51 to 200 employees', '201 to 500 employees', '501 to 1000 employees'],
    'Corporate': ['1001 to 5000 employees', '5001 to 10000 employees', '10000+ employees'],
    'NA': ['Unknown', '-1']
}


def map_size_to_segment(size):
    for segment, sizes in size_to_segment.items():
        if size in sizes:
            return segment
    return 'NA'  

df['company size'] = df['size'].apply(map_size_to_segment)

In [23]:
df['company size']

0      Corporate
1      Corporate
2      Corporate
3         Middle
4         Middle
         ...
667    Corporate
668           NA
669           NA
670        Small
671    Corporate
Name: company size, Length: 672, dtype: object

In [24]:
df['founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962], dtype=int64)

In [25]:
df['founded'] = np.where(df['founded'] == -1,2024, df['founded'])

In [26]:
df['company age'] = pd.datetime.now().year - df['founded']

C:\Users\mirna\AppData\Local\Temp\ipykernel_39184\4130546046.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['company age'] = pd.datetime.now().year - df['founded']

In [27]:
df['type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', '-1',
       'Unknown', 'Hospital', 'Self-employed', 'College / University',
       'Contract'], dtype=object)

In [28]:
ownership_mapping_dict = {
    'Other Organization': ['-1', 'Unknown', 'Other Organization'],
    'Private Company': ['Private Practice / Firm', 'Company - Private'],
    'Public Company': ['Company - Public']
}


def map_ownership_type(value, ownership_mapping_dict):
    for group, values in ownership_mapping_dict.items():
        if value in values:
            return group
    return value  


df['type of ownership'] = df['type of ownership'].apply(lambda x: map_ownership_type(x, ownership_mapping_dict))

In [29]:
df['type of ownership'].unique()

array(['Nonprofit Organization', 'Public Company', 'Private Company',
       'Government', 'Subsidiary or Business Segment',
       'Other Organization', 'Hospital', 'Self-employed',
       'College / University', 'Contract'], dtype=object)

In [30]:
df['sector'].unique()

array(['Insurance', 'Business Services', 'Manufacturing',
       'Information Technology', 'Biotech & Pharmaceuticals', 'Retail',
       'Oil, Gas, Energy & Utilities', 'Government', 'Health Care',
       'Finance', 'Aerospace & Defense', '-1',
       'Transportation & Logistics', 'Media', 'Telecommunications',
       'Real Estate', 'Travel & Tourism', 'Agriculture & Forestry',
       'Education', 'Accounting & Legal', 'Non-Profit',
       'Construction, Repair & Maintenance', 'Consumer Services'],
      dtype=object)

**Industry and sector column can also be grouped into separate fields using the method that i did for job titles**

In [31]:
df['revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', '-1'], dtype=object)

In [32]:
df['revenue'] = np.where(df['revenue']== -1, 'Unknown', df['revenue'])

In [33]:
df['revenue'].value_counts()

Unknown / Non-Applicable            213
$100 to $500 million (USD)           94
$10+ billion (USD)                   63
$2 to $5 billion (USD)               45
$10 to $25 million (USD)             41
$1 to $2 billion (USD)               36
$25 to $50 million (USD)             36
$50 to $100 million (USD)            31
$1 to $5 million (USD)               31
-1                                   27
$500 million to $1 billion (USD)     19
$5 to $10 million (USD)              14
Less than $1 million (USD)           14
$5 to $10 billion (USD)               8
Name: revenue, dtype: int64

In [34]:
def normalize_revenue(revenue):
    
    if revenue in ['-1', 'Unknown / Non-Applicable']:
        return 'Unknown'
    
    if 'billion' in revenue:
        
        numbers = re.findall(r'\d+\.?\d*', revenue)
        
        if len(numbers) == 1:
            return f'{float(numbers[0]) * 1000} million (USD)'
        
        elif len(numbers) == 2:
            return f'{float(numbers[0]) * 1000} to {float(numbers[1]) * 1000} million (USD)'
    
    return revenue


df['normalized revenue'] = df['revenue'].apply(normalize_revenue)

In [35]:
df['normalized revenue']

0                             Unknown
1      1000.0 to 2000.0 million (USD)
2          $100 to $500 million (USD)
3          $100 to $500 million (USD)
4                             Unknown
                    ...
667                           Unknown
668                           Unknown
669                           Unknown
670            $1 to $5 million (USD)
671    1000.0 to 2000.0 million (USD)
Name: normalized revenue, Length: 672, dtype: object

In [36]:
languages = ['python', 'sql', 'r', 'java', 'scala', 'nosql', 'go', 'sas', 'mongodb', 
             'shell', 'javascript', 'c++', 'c#', 'c', 'matlab', 'bash', 'vba', 't-sql',
             'powershell', 'html', 'css', 'typescript', 'perl', 'ruby']

tools = ['tableau', 'excel', 'power bi', 'sas', 'word', 'powerpoint', 'google sheet', 
         'spreadsheet', 'sap', 'ssis', 'looker', 'qlik', 'alteryx', 'spss', 
         'ssrs', 'outlook', 'dax', 'sharepoint', 'splunk', 'microstrategy', 
         'visio', 'ms access', 'datarobot']

cloud = ['aws', 'azure', 'snowflake', 'databricks', 'redshift', 'bigquery', 
         'gcp', 'oracle', 'aurora', 'vmware', 'ibm cloud', 'firebase', 'watson',
         'openstack', 'colocation', 'digital ocean', 'heroku', 'ovh', 'linode']

libraries = ['spark', 'hadoop', 'kafka', 'airflow', 'pyspark', 'tensorflow', 
             'pandas', 'pytorch', 'scikit-learn', 'numpy', 'keras', 'opencv',
             'jupyter', 'react', 'matplotlib', 'spring', 'gdrp', 'graphql',
             'plotly', 'seaborn', 'nltk', 'ggplot2', 'selenium', 'hugging face', 'mxnet']

framework = ['express', 'node.js', 'angular', 'ruby', 'flask', 'django', 'phoenix', 
             'vue.js', 'fastapi', 'jquery', 'ruby on rails', 'asp.net', 'react.js', 
             'next.js', 'laravel', 'asp.net core', 'drupal', 'angular.js', 'svelte', 
             'symfony', 'play framework', 'blazor', 'fastify']


all_categories = [languages, tools, cloud, libraries, framework]
new_cols = ['req_languages', 'req_tools', 'req_cloud', 'req_libraries', 'req_framework']


def extract_keywords(text, keywords):
    return ', '.join([word for word in keywords if word in text.lower()])

for i in range(len(new_cols)):
    df[new_cols[i]] = df['job description'].apply(lambda x: extract_keywords(x, all_categories[i]))

In [37]:
df[new_cols] = df[new_cols].replace('', 'None')

In [38]:
df.head()

,job title,salary estimate,job description,rating,company name,location,headquarters,size,founded,type of ownership,...,loc city,loc state,company size,company age,normalized revenue,req_languages,req_tools,req_cloud,req_libraries,req_framework
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,...,New York,NY,Corporate,31,Unknown,"r, go, c",ssis,"aws, azure",None,None
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Public Company,...,Chantilly,VA,Corporate,56,1000.0 to 2000.0 million (USD),"sql, r, go, c",None,None,hadoop,express
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Company,...,Boston,MA,Corporate,43,$100 to $500 million (USD),"python, r, go, c++, c","excel, visio",aws,None,flask
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Public Company,...,Newton,MA,Middle,24,$100 to $500 million (USD),"python, sql, r, nosql, go, c, matlab","excel, ssis, visio",aws,"tensorflow, pytorch",None
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Private Company,...,New York,NY,Middle,26,Unknown,"python, sql, r, go, sas, c","excel, sas",None,None,None

In [39]:
# df.to_csv('Cleaned DS Jobs.csv', index=False)